/* BODY */
body{
    background-color: #ffdcff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}
.banner{
    background: #ddacdd;
    height:100px ;
}
.perfil{
    text-align: center;
}
.foto{
    width: 80px;
    border:3px solid #ddacdd ;
    border-radius: 50%;
}
.email{
    width: 20px;
}
.insta{
    width: 20px;
}
main{
    text-align: center;
}
button{
    border: 2px;
    background: #ddacdd;
    width: 50%;
    height: 60px;
    color: black;
}
button:hover{
    color: #ffdcff;
    text-decoration: underline;
    font-size: 16px;
}
footer{
    background: #ddacdd;
    text-align: center;
}
.rodape{
    color: black;
    font-size: 9px;
}
.rodape:hover{
    color: #ffdcff;
    text-decoration: underline;
    font-size: 12px;
}
/*sOBRE MIM*/
.logo{
    width: 50px;
    margin-top: 30px;
    margin-left: 50px;
}
main{
    margin-top: 50px;
}
#insta{
    margin-top: 100px;
    display: flex;
    justify-content: center ;
}
.sobre{
    text-align: justify;
    margin: 10px;
    width: 600px;
    padding-left: 5px;
    padding-right: 5px;
}
.texto{
    display: flex;
    justify-content: center;
}